node_modules
.DS_Store
dist
dist-ssr
playwright-report
test-results
*.local
.env
.env.development
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
src/features/seed
temp.md
index.md
requirementFR.md
requirement.md
