node_modules
.DS_Store
dist
dist-ssr
playwright-report
test-results
*.local
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# cp list
src/features/seed
.env
.env.development
temp.md
index.md
requirementFR.md
requirement.md
